<!Doctype html>
<html lang = "en">

    <head>
        <title>Members</title>
    </head>

    <body>
        <h1>Current Members</h1>
        <br>
        <strong>Name Of Members: </strong><br>
        <%- names %><br><br><br>
        <a href = "http://localhost:4000"> Click To Go Back to Home Page </a>
    </body>
</html>
