<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="hero">
            <nav>
                <img src="Ganji.png" class="logo">
                <ul>
                    <li>HOME</li>
                    <li>ABOUT</li>
                    <li>SIGN UP</li>
                </ul>
            </nav>
        </div>
        <div class="content"></div>
            <h1>About Us 🫶</h1>
            <img src="">

            <p></p>

            <img src="">

            <p></p>

            <h1>Leaders 🫰</h1>

            <div class="leaders">
                
            </div>
        
    </body>
    
</html>