<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Ganji UMD
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body class="dark-background">
        <div class="hero">
            <nav>
                <a href="/"><img src="Ganji.png" class="logo"></a>
                <ul>
                    <li class="dark-mode"><a href="/">HOME</a></li>
                    <li class="dark-mode"><a href="/about">ABOUT</a></li>
                    <li class="dark-mode"><a href="/form">SIGN UP</a></li>
                </ul>
            </nav>

        </div>
        <div class="content dark-mode">
            <h1>Membership Form for Ganji</h1>
            <form action= "http://localhost:4000/memberInfo" method="post" class="dark-mode"> 
                Name: <input type="text" name="name"> Email Address: <input type="email" name="email"><br>
                Additional Comments: <br>
                <textarea rows="5" cols="80" name="comments"></textarea>
                <br>
                <input type="reset"> <input type="submit" onclick= "message()" value="Submit">
            </form>
            <a href = "http://localhost:4000"> Click To Go Back to Home Page </a>
            <script>
                function message() {
                    confirm("Please review your information before submitting.\n");
                }
            </script>
        </div>
    </body>
</html>
