<!Doctype html>
<html lang = "en">

    <head>
        <title>Submitted Information</title>
    </head>

    <body>
        <h1>Information Entered</h1>
        <br>
        <strong>Name: </strong><%- name %><br>
        <strong>Email Address: </strong><%- email %><br>
        <strong>Comments: </strong><%- comments %><br>
    </body>
    <br>
    <br>
    <a href = "http://localhost:4000"> Click To Go Back to Home Page </a>
</html>
